*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.conteiner {
    width: 1170px;
    margin: 0 auto;
}
/*.hero {*/
/*    position: relative;*/
/*    padding-top: 290px;*/
/*display: grid;*/
/*    grid-template-rows: 1fr 1fr;*/
/*    grid-template-columns: repeat(6, 1fr);*/
/*    grid-template-areas:*/
/*  "item1 item2 item3 item4 item5 item6"*/
/*  "item7 item8 item9 item10 item11 item12"*/
/*}*/
/*.hero-item-img {*/
/*    width: 193px;*/
/*    height: 178px;*/
/*}*/
/*.hero-item-title {*/
/*    position: absolute;*/
/*    bottom: 11px;*/
/*    left: 13px;*/
/*    color: #FFFFFF;*/
/*    font-size: 14px;*/
/*    line-height: 14px;*/
/*    padding: 15px 50px 15px 17px;*/
/*    background-color: #333333;*/
/*}*/

/*.hero-item1 {*/
/*    grid-area: item1;*/

/*}*/
/*.hero-item2 {*/
/*    grid-area: item2;*/
/*}*/
/*.hero-item3 {*/
/*    grid-area: item3;*/
/*}*/
/*.hero-item4 {*/
/*    grid-area: item4;*/
/*}*/
/*.hero-item5 {*/
/*    grid-area: item5;*/
/*}*/
/*.hero-item6 {*/
/*    grid-area: item6;*/
/*}*/
/*.hero-item7 {*/
/*    grid-area: item7;*/
/*}*/
/*.hero-item8 {*/
/*    grid-area: item8;*/
/*}*/
/*.hero-item9 {*/
/*    grid-area: item9;*/
/*}*/
/*.hero-item10 {*/
/*    grid-area: item10;*/
/*}*/
/*.hero-item11 {*/
/*    grid-area: item11;*/
/*}*/
/*.hero-item12 {*/
/*    grid-area: item12;*/
/*}*/
/*.yellow-text {*/
/*    color: #FFFFFF;*/
/*}*/






.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}
.gallery-card {
    position: relative;
    height: 284px;
    overflow: hidden;
}
.gallery-card-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-card-content {
    position: absolute;
    top: 100%;
    background: white;
    transition: top 0.3s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: #333333 2px solid;
    padding: 51px 13px 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.gallery-card-title {
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.gallery-card-title::after {
    content: "";
    width: 64px;
    height: 3px;
    background: #F1AD1D;
    margin-top: 25px;
}
.gallery-card-text {

}
.gallery-card-link {

}

.gallery-card:hover > .gallery-card-content {
    top: 0;
}


